.word-tools-global-counts {
    align-self: center;
    display: flex;
    flex-direction: row;;
}

.world-tools-no-pad {
    padding: 0px;
}

.world-tools-no-pad + .world-tools-no-pad {
    padding-left: 5px
}